<!DOCTYPE html>
<html>
<head>
<title>Hola!</title>
<%= javascript_script_tag "/javascript/jQuery/jquery-1.6.4.js" %>

</head>

<body>
<div class="saludo">Hola!...</div>
<br/>

<img src="img/webprendedor2011.png" WIDTH="470" HEIGHT="133">
<img src="img/webprendedor2011-1.png" WIDTH="156" HEIGHT="44">
<img src="img/webprendedor2011-2.png" WIDTH="156" HEIGHT="44">
<img src="img/webprendedor2011-noesta.png" WIDTH="156" HEIGHT="44">
<%= stylesheet_link_tag "/css/master.css" %>

<img src="img/webprendedor2011-3.png" WIDTH="156" HEIGHT="44">
<img src="img/webprendedor2011-4.png" WIDTH="156" HEIGHT="44">
<img src="img/webprendedor2011-5.png" WIDTH="156" HEIGHT="44">
</body>
<%= stylesheet_link_tag "/css/master2.css" %>

</html> 


